.hallway {
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 0px !important;
}

/*
    MIDDLE OF HALLWAY
*/

.middle.endOfHall {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 10%;
    height: 20%;
    border: 5px solid white;
    transform: translateX(-50%) translateY(-45%);
    z-index: 999;
    background-color: gray;
}

/*
    TOP AND BOTTOM OF HALLWAY
*/

.top.lights,
.bottom.hall {
    position: absolute;
    width: 100%;
    height: 50%;
    border: 5px solid white;
    z-index: 1;
}

.bottom.hall {
    bottom: 0%;
}

/*
    TOP LIGHTS
*/

.top.lights>*,
.bottom.hall>* {
    position: absolute;
    border: 5px solid rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.lights.container>*,
.hall.container>*{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 50%;
    border: 5px solid blue;
}

.lights.container>:nth-child(1),
.hall.container>:nth-child(1){
    right: 50%;
}

.lights.container>:nth-child(2),
.hall.container>:nth-child(2){
    left: 50%;
}

.lights.container>:nth-child(1)>.lights {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid lightblue;
    left: 55%;
    bottom: 40%;
    transform: rotateZ(-120deg);
    background-color: white;
}

.lights.container>:nth-child(2)>.lights{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid lightblue;
    right: 55%;
    bottom: 40%;
    transform: rotateZ(120deg);
    background-color: white;
}

/*
    Bottom Highway
*/

.hall.container>:nth-child(1)>.hall {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid lightblue;
    right: -50%;
    top: 0%;
    background-color: white;
    transform: rotateZ(111deg);
    background-color: lightgrey;
}

.hall.container>:nth-child(2)>.hall {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid lightblue;
    left: -50%;
    top: 0%;
    background-color: white;
    transform: rotateZ(-111deg);
    background-color: lightgrey;
}

/*
    left/right doors
*/

.left.doors,
.right.doors {
    position: absolute;
    width: 50%;
    height: 100%;
    border: 5px solid green;
    z-index: 5;
}

.right.doors{
    right: 0%;
}
