#planet-container {
    position: relative;
}

.sun {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 10rem;
    width: 10rem;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    transform: translateX(-50%);
}

.planet {
    position: absolute;
}

.planet#exp{
    left: 55%;
    z-index: 1;
    top: 40%;
    height: 5rem;
    width: 5rem;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 50%; 
    transition: 1s;
    animation: expAnimFront 4s linear infinite alternate-reverse;
}

@keyframes expAnimFront {
    100%{
        left: 35%;
        top: 50%;
        z-index: 1;
    }
}

